@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	background: #456;
	font-family: 'Open Sans', sans-serif;
}
        
table {
	margin-right:auto; 
	margin-left:auto;
	width: 100%;
	display: block;
	width: 960px;
  border-radius: 10px;
}

table tr {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
	
	/* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


table tr:nth-child(odd) {
    background: #f9f9f9;
}

table tr:hover {
    background: #ddd;
}

table tr th {
	background: #73d863;
	padding:10px;
	color:#effff1;

	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table tr td {
	font-size: 15px;
	color: #666666;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #f2f2f2;
  
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}